<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <title></title>
  </head>
  <body class = "homepage">
    <div class = "themuter">
    <div class="container">
      <div class="row content">
        <div class="col-md-3" id="headerspacer">
          <button type="button" class="btn-round btn-info btn btn-lg btn-block button"><a href="about.html" class = "buttontext"><center>About Us</center></a></button>
          <!-- <a href="about.html"><center>About</center></a> -->
        </div>
        <div class="col-md-6">
          <h1 id="klossyPosse"><center><strong>Klossy Posse Advice</strong></center></h1>
        </div>
        <div class="col-md-3 " id="headerspacer">
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <span class="glyphicon glyphicon-search"></span>
                <input type="text" placeholder="Search">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <button type="button" style = "border-radius:0" class="contentbutton btn-round btn-info btn btn-lg btn-block button"><a href="nerves.html" class = "buttontext"><center>Nerves</center></a></button>
        </div>

        <div class="col-md-6 homeimage">
          <img class = "img-rounded" src="https://scontent-atl3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c93.0.894.894/13715137_167663166980272_1528234742_n.jpg?ig_cache_key=MTI5NDUwOTAxNzA0NDkwOTI0NA%3D%3D.2.c" height="500" width="550">
        </div>
        <div class="col-md-3">
          <button type="button" style = "border-radius:0" class="contentbutton btn-round btn-info btn btn-lg btn-block button"><a href="ourexperience.html" class = "buttontext"><center>Our Experience</center></a></button>
          <!-- <a href="ourexperience.html"><center>Our Experience</center></a> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 spacer">
        </div>
        <div class="col-md-4" id="headerspacer">
          <button type="button" style = "border-radius:0" class="btn-round btn-info btn btn-lg btn-block button"><a href="paniczone.html" class = "buttontext"><center>PANIC zone!</center></a></button>
            <!-- <a href="paniczone.html"><center>Panic Zone</center></a> -->
        </div>
        <div class="col-md-4 spacer">
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
