<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Symptom-It</title>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-2" id="headerspacer">
        </div>
        <div class="col-md-8">
          <h1 id="Website-title"><strong>Symptom-It</strong></h1>
        </div>
        <div class="col-md-2 " id="headerspacer">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-1" id="headerspacer">
      </div>
      <div class="col-md-10">
        <h1 id="explaination"><strong>How are you feeling today?</strong></h1>
        <form action= "/method" method="post">
          <input type="radio" name="symptom" value="Dizzy/Light Headed"> Dizzy/Light Headed<br>
          <input type="radio" name="symptom" value="Weak/Uneasy"> Weak/Uneasy<br> <!-- br = line break -->
          <input type="radio" name="symptom" value="Uncomfortable/Indifferent to foods"> Uncomfortable/Indifferent to foods.

      <div class="form-group">
        <label for="sel1">Are you allergic to any medications? If so find it below.</label>
        <select class="form-control" id="sel1">
          <option>Benadryl</option>
          <option>Claritin</option>
          <option>Emetrol</option>
          <option>Allegra</option>
          <option>Pepto-Bismol</option>
          <option>Motilium</option>
          <option>Zofran</option>
          <option>Aleve</option>
          <option>Vistaril</option>
          <option>Hydroxyzine</option>

        </select>
      </div>

          <input type="submit" value="tell me my meds">
        </form>
      </div>
      <div class="col-md-1 " id="headerspacer">
    </div>
  </div>
  <div class="row">
    <div class="col-md-1" id="headerspacer">
    </div>
    <div class="col-md-10">
      <h1 id="explaination"><strong>Where are you experiencing pain/discomfort?</strong></h1>
      <form action="">
        <!-- do i have to change the name? -->
        <input type="radio" name="symptom" value="Head"> Head <br>
        <input type="radio" name="symptom" value="Stomach"> Stomach <br> <!-- br = line break -->
        <input type="radio" name="symptom" value="My entire body"> My entire body
      </form>
    </div>
    <div class="col-md-1 " id="headerspacer">
  </div>
</div>
<div class="row">
  <div class="col-md-1" id="headerspacer">
  </div>
  <div class="col-md-10">
    <h1 id="explaination"><strong>How long has this been going on?</strong></h1>
    <form action="">
      <!-- do i have to change the name? -->
      <input type="radio" name="symptom" value="24 Hours"> 24 Hours <br>
      <input type="radio" name="symptom" value="A Few Days"> A Few Days <br> <!-- br = line break -->
      <input type="radio" name="symptom" value="Week (+)"> Week (+)
    </form>
  </div>
  <div class="col-md-1 " id="headerspacer">
</div>
</div>
<div class="row">
  <div class="col-md-1" id="headerspacer">
  </div>
  <div class="col-md-10">
    <h1 id="explaination"><strong>Has the pain/discomfort been getting worse or better?</strong></h1>
    <form action="">
      <!-- do i have to change the name? -->
      <input type="radio" name="symptom" value="Worse"> Worse <br>
      <input type="radio" name="symptom" value="Better"> Better
    </form>
  </div>
  <div class="col-md-1 " id="headerspacer">
</div>
</div>
<div class="row">
  <div class="col-md-1" id="headerspacer">
  </div>
  <div class="col-md-10">
    <h1 id="explaination"><strong>On a scale from NO PAIN to EXCRUCIATING PAIN, what are you feeling?</strong></h1>
    <form action="">
      <!-- think we need to add to css -->
      <a href="html-image-hyperlink.php"><img src="http://3.bp.blogspot.com/-lcJJpBcVaC0/UckT-XtB9eI/AAAAAAAAGco/_2vMA9krwtc/s1600/VAS-chart.gif" title="chart" width="350" height="100" /></a> <br>
      <input type="radio" name="symptom" value="0"> 0 <br>
      <input type="radio" name="symptom" value="1"> 1 <br>
      <input type="radio" name="symptom" value="2"> 2 <br>
      <input type="radio" name="symptom" value="3"> 3 <br>
      <input type="radio" name="symptom" value="4"> 4 <br>
      <input type="radio" name="symptom" value="5"> 5 <br>
      <input type="radio" name="symptom" value="6"> 6 <br>
      <input type="radio" name="symptom" value="7"> 7 <br>
      <input type="radio" name="symptom" value="8"> 8 <br>
      <input type="radio" name="symptom" value="9"> 9 <br>
      <input type="radio" name="symptom" value="10"> 10
    </form>
  </div>
  <div class="col-md-1 " id="headerspacer">
</div>
</div>
<div class="row">
  <div class="col-md-1" id="headerspacer">
  </div>
  <div class="col-md-10">
    <button type="submit" form="nameform" value="Submit">Submit</button>
  </div>
  <div class="col-md-1 " id="headerspacer">
</div>
</div>
</div>
  </body>
</html>
