<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Symptom-It!</title>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <!-- <body> -->
<body style="background-color:black; color: white">
    <div class="container">
      <div class="row">
        <div class="col-md-2" id="headerspacer">
        </div>
        <div class="col-md-8" id="titlefont">
          <div class="jumbotron">
          <div class="container">
          <h1 id="Website-title"><center><strong><big>WELCOME TO</big></strong></center></h1>
        </div>
        <div class="col-md-2 " id="headerspacer">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2" id="headerspacer">
      </div>
      <div class="col-md-8">
          <div class="jumbotron" id="p">
          <div class="container">
        <h1 id="Website-title"><center><strong>SYMPTOM IT</strong></center></h1>
      </div>
      <div class="col-md-2 " id="headerspacer">
      </div>
    </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-1" id= headerspacer>
    </div>
    <form action="/getname" method="post">
    <div class="col-md-2" id= headerspacer>
      <!-- we need a value after name  -->
      First name: <input type="text" name="FirstName">
    </div>
    <div class="col-md-2" id= headerspacer>
    </div>
    <div class="col-md-2" id= headerspacer>
      Last name: <input type="text" name="LastName">
    </div>
    <div class="col-md-2" id= headerspacer>
    </div>
    <div class="col-md-2" id= headerspacer>
      <input type= "submit" value= "Click Here To Continue">
    </div>
  </form>
    <div class="col-md-1" id= headerspacer>
    </div>
  </body>
</html>
