.Website-title {
  font-size: 50px;
  font-family: sans-serif;

}
.element-right {
  margin-left: 160px;
}

.headerspacer {
  margin-top: 20px;
  color: black;
}

.explaination {
  font-size: 30px
  font-family: sans-serif;
}

.titlefont {
  font-size: 1000px
  font-family: impact;
}

.jumbotron .container {
  position: relative;
  top:100px;
  color: black
}

.painlevel{
  color: #99c2ff;
}
.box{
  background-color:  #99c2ff;
  color: white;
  font-size: 20px
}

.p {
  text-indent: 1000px;
}

body {
    background-color: black;
}

.color{
color: black

}
